{% extends 'base.html.twig' %}
{% block title %}Ingresar{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="container aligin-center">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesión</h5>
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
    <div class="col-sm-3">
    </div>
</div>


{% endblock %}