{% extends 'base.html.twig' %}

{% block title %}Nuevo Equipo{% endblock %}

{% block body %}
    <h1>Crear Equipo</h1>

    {{ include('equipo/_form.html.twig') }}

    <a href="{{ path('app_equipo_index') }}">Volver</a>
{% endblock %}
