{% extends 'base.html.twig' %}

{% block title %}New Partido{% endblock %}

{% block body %}
    <h1>Create new Partido</h1>

    {{ include('partido/_form.html.twig') }}

    <a href="{{ path('app_partido_index') }}">back to list</a>
{% endblock %}
