{% extends 'base.html.twig' %}

{% block title %}Modificar Torneo{% endblock %}

{% block body %}
    <h1>Modificar Torneo</h1>

    {{ include('torneo/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a href="{{ path('app_torneo_index') }}">Volver</a>

    {{ include('torneo/_delete_form.html.twig') }}
{% endblock %}
