{% extends 'base.html.twig' %}

{% block title %}Nuevo Torneo{% endblock %}

{% block body %}
    <h1>Crear Torneo</h1>

    {{ include('torneo/_form.html.twig') }}

    <a href="{{ path('app_torneo_index') }}">Volver</a>
{% endblock %}
