{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% block title %}Editar Partido N° {{ partido.id }}{% endblock %}</h1>

    {{ include('partido/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a href="{{ path('app_partido_index') }}">Volver</a>

    {{ include('partido/_delete_form.html.twig') }}
{% endblock %}
