{% extends 'base.html.twig' %}

{% block title %}Partido{% endblock %}

{% block body %}
    <h1>Partido</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partido.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partido_index') }}">back to list</a>

    <a href="{{ path('app_partido_edit', {'id': partido.id}) }}">edit</a>

    {{ include('partido/_delete_form.html.twig') }}
{% endblock %}
