<form method="post" action="{{ path('app_fin_delete', {'id': fin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fin.id) }}">
    <button class="btn">Delete</button>
</form>
