{% extends 'base.html.twig' %}

{% block title %}Fin index{% endblock %}

{% block body %}
    <h1>Fin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fin in fins %}
            <tr>
                <td>{{ fin.id }}</td>
                <td>
                    <a href="{{ path('app_fin_show', {'id': fin.id}) }}">show</a>
                    <a href="{{ path('app_fin_edit', {'id': fin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fin_new') }}">Create new</a>
{% endblock %}
