<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('icono/nuevo.ico') }}"/>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}

        
    </head>
    <body>
        {% include('header.html.twig') %}
        <div class="container-lg">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
