{% extends 'base.html.twig' %}

{% block title %}Modificar Club{% endblock %}

{% block body %}
    <h1>Modificar Club</h1>

    {{ include('club/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a href="{{ path('app_club_index') }}">Volver</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
