{% extends 'base.html.twig' %}

{% block title %}Nuevo Club{% endblock %}

{% block body %}
    <h1>Crear Club</h1>

    {{ include('club/_form.html.twig') }}

    <a href="{{ path('app_club_index') }}">Volver</a>
{% endblock %}
