{% extends 'base.html.twig' %}

{% block title %}ZonaEquipo index{% endblock %}

{% block body %}
    <h1>ZonaEquipo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zona_equipo in zona_equipos %}
            <tr>
                <td>{{ zona_equipo.id }}</td>
                <td>
                    <a href="{{ path('app_zona_equipo_show', {'id': zona_equipo.id}) }}">show</a>
                    <a href="{{ path('app_zona_equipo_edit', {'id': zona_equipo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_zona_equipo_new') }}">Create new</a>
{% endblock %}
