{% extends 'base.html.twig' %}

{% block title %}Edit TorneoGeneroCategoria{% endblock %}

{% block body %}
    <h1>Edit TorneoGeneroCategoria</h1>

    {{ include('torneo_genero_categoria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_torneo_genero_categoria_index') }}">back to list</a>

    {{ include('torneo_genero_categoria/_delete_form.html.twig') }}
{% endblock %}
