{% extends 'base.html.twig' %}

{% block title %}Modificar Genero{% endblock %}

{% block body %}
    <h1>Modificar Genero</h1>

    {{ include('genero/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a href="{{ path('app_genero_index') }}">Volver</a>

    {{ include('genero/_delete_form.html.twig') }}
{% endblock %}
