{% extends 'base.html.twig' %}

{% block title %}Nuevo Genero{% endblock %}

{% block body %}
    <h1>Crear Genero</h1>

    {{ include('genero/_form.html.twig') }}

    <a href="{{ path('app_genero_index') }}">Volver</a>
{% endblock %}
