{% extends 'base.html.twig' %}

{% block title %}New Genero{% endblock %}

{% block body %}
    <h1>Create new Genero</h1>

    {{ include('genero/_form.html.twig') }}

    <a href="{{ path('app_genero_index') }}">back to list</a>
{% endblock %}
