{% extends 'base.html.twig' %}

{% block title %}Edit Cancha{% endblock %}

{% block body %}
    <h1>Edit Cancha</h1>

    {{ include('cancha/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cancha_index') }}">back to list</a>

    {{ include('cancha/_delete_form.html.twig') }}
{% endblock %}
