{% extends 'base.html.twig' %}

{% block title %}New Cancha{% endblock %}

{% block body %}
    <h1>Create new Cancha</h1>

    {{ include('cancha/_form.html.twig') }}

    <a href="{{ path('app_cancha_index') }}">back to list</a>
{% endblock %}
