{% extends 'base.html.twig' %}

{% block title %}Modificar Categoria{% endblock %}

{% block body %}
    <h1>Modificar Categoria</h1>

    {{ include('categoria/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a href="{{ path('app_categoria_index') }}">Volver</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
